@font-face {
font-family: "Montserrat";
src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
button {
  background: none;
  outline: none;
  border: 1px solid whitesmoke;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.4 ease;
  cursor: pointer;
  padding: 10px 20px;
}
button:hover {
  color: black;
  background: whitesmoke;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  margin: 0 auto;
  text-align: center;
}
p {
  font-size: 0.8rem;
  
}
p::first-letter {
  text-transform: uppercase;
}
nav {
  max-width: 1100px;
  margin: 0 auto;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

nav li {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
  transition: 0.3 ease;
  padding: 20px 0;
}
nav li:first-child {
  color: rgb(95, 4, 170);
}
nav li:first-child:before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: rgb(95, 4, 170);
  transform: translateY(-20px);
}
nav li:hover:before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: rgb(95, 4, 170);
  transform: translateY(-20px);
}
nav li:last-child:before {
  background: none;
}
#language {
background: rgba(128, 128, 128, 0.25);
border-radius: 50px;
padding: 8px 16px;
}
.main-header {
  height: 670px;
  background: url(./assets/img/bg.jpg) fixed center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header h1 {
  text-transform: uppercase;
  color: white;
  padding: 50px 0 50px 0;
}
.header-text {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}
.icon-part {
  background: rgb(15, 15, 15);
  padding: 65px 0;
  color: whitesmoke;
}
.icon-part-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.list-icon-part {
  color: white;
  text-align: center;
  
  margin: 0 100px 0 100px;
}
.list-icon-part h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.list-icon-part p {
  font-size: 1.3rem;
  padding: 15px 0 30px 0;
}
.lip-logo {
  padding: 0 0 60px 0;
}
.news-part {
  background: #F7F7F7;
  padding: 80px 0 45px;
}
.header-news {
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 1000px;
  margin: 0 auto;
}
.header-news button {
  border: 1px solid black;
  color: black;
}
.left-part h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.left-part p {
  font-weight: bold;
}
.main-news-container {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 45px auto;
}
.main-news-container > div {
  position: relative;
  max-width: 23%;
}
.mn-pic img{
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
  box-shadow: 7px -7px 10px #8888885e;
}
.main-news-container h4 {
  margin: 15px 0;
  text-align: left;
}
.main-news-container p {
  text-align: left;
  font-size: 0.8rem;
  line-height: 20px;
  margin-bottom: 45px;
}
.link {
  text-align: left;
  position: absolute;
  bottom: 0;
}
.main-news a {
  text-transform: uppercase;
  color: rgb(95, 4, 170);
  font-size: 0.7rem;
  letter-spacing: 1px;
}
.main-news a:hover{
  color: rgb(180, 180, 1);
}
.main-news i {
  transform: translateX(5px);
}
.contact{
  padding: 65px;
  max-width: 1100px;
  margin: 0 auto;
}
.contact-list{
  display: flex;
  justify-content: center;
  font-weight: 400;
  position: relative;
}

.contact-list::after{
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background: rgb(222, 222, 222);
  bottom: -28px;
}
.contact-list .list{
  text-align: left;
  width: 24%;
}
#contact-img{
  margin: 0 auto;
  display: block;
  text-align: center;
}
.contact-list h5 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 15px;
}
.contact-list a{
  font-size: 0.8rem;
}
.infos-p li{
  margin: 15px;
}
.list{
  margin-right: 15px;
}
.list p{
  line-height: 22px;
  margin-bottom: 15px;
}
.list h6{
  font-size: 0.8rem;
  margin-bottom: 8px;
  font-weight: 400;
}
.list .network {
  margin: 20px 0 8px;
}
.footer-logos {
  font-size: 0.8rem;
  margin: 0 0 30px 0;
}
.copyright {
  margin: 0;
}
.contact-medias {
  padding: 60px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
}
.media-text {
  text-align: left;
  width: 30%;
}
.media-text h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 12px;
}
.media-text p {
  font-size: 0.8rem;
}
.medias-logos {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.medias-logos img {
  width: 60px;
}
footer{
  background: rgb(14, 14, 14);
}
footer h3{
  text-transform: uppercase;
  color: whitesmoke;
  font-weight: 300;
  padding: 25px 0;
}
footer ul{
  display: flex;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}


/************ MEDIA QUERIES ************/


@media screen and (max-width: 895px){
  nav li{
    font-size: 0.7rem;
  }
  .main-header img{
    width: 60%;
  }
  .contact-list.list{
    padding-left: 15px;
  }
  .medias-logos img{
    width: 40px;
  }
  footer ul{
    flex-wrap: wrap;
  }
  footer li{
    margin: 5px;
  }
}
@media screen and (max-width: 704px){
  nav li{
    display: none;
  }
  .icon-part-container{
    display: block;
  }
  .icon-part{
    margin-top: 0 0 30px;
  }
  .header-news{
    display: block;
  }
  .left-part{
    width: 100%;
  }
  .left-part h2 {
    text-align: center;
  }
  .left-part p{
    text-align: center;
    margin-bottom: 10px;
  }
  .main-news-container{
    display: block;
  }
  .main-news-container div{
    min-width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;
    margin-top: 58px;
  }
  .main-news-container img{
    width: 50%;
  }
  .contact{
    display: none;
  }
}